@charset "UTF-8";
/* CSS Document */
@media screen and (max-width:767px) {

	body {
		font-size: 62.5%;
	}

	#container {
		width: 100%;
	}

	.firstview {
    margin-top: 0;
}

	.moji {
		height: 28px;
		margin: 1.2rem auto;
		overflow: hidden;
		font-size: 2em;
	}

	.moji < div {
		margin: 0;
	}

	#banner {
		margin: 0 auto 1.5rem;
	}

	#main-contents{
		width: 100%;
		margin: 0 auto;
	}

	#main-contents h2 {
		font-size: 1.8rem;
		margin-left: 6%;
		margin-right: 6%;
	}

	#main-contents p {
		width: 100%;
		padding: 0 0 1rem 0;

	}

	.firstview img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	ul.nvi {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
    margin: 0 auto;
    table-layout: unset;
	}

	.nvi li {
		display: block;
    width: 49%;
    margin-top: 10px;
	}

	.hariken a {
    text-align: center;
    padding-right: 0;
}

	.Button {
		width: 100%;
    margin: 0;
		text-align: center;
	}

	button a {
		font-size: 1.1rem;
	}

	#kadohuji, #sansui, #kigenmon, #hamaya, #hariken{
		width: 100%;
		margin: 2rem auto 2rem;
	}

	.kadohuji_contents, .sansui_contents, .kigenmon_contents, .hamaya_contents, .hariken_contents {
		width: 90%;
		padding-top: 0.8rem;
		font-size: 1rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.shop_setumei1, .shop_setumei2, .shop_setumei3, .shop_setumei4, .shop_setumei5 {
		font-size: 1rem;
		box-sizing: border-box;
		padding: 2rem 1rem;
		margin-top: 1rem;
		height: auto;
		width: 100%;
		background: url(../img/dark_paper.jpg) no-repeat;
		color: #ffffff;
		display: flex;
		flex-direction: column;
	}

	.kadohuji_r, .sansui_r, .kigenmon_r, .hamaya_r, .hariken_r {
		width: 100%;
		margin: 1.5rem auto;
	}

	.kadohuji_l, .sansui_l, .kigenmon_l, .hamaya_l, .hariken_l{
		width:100%;
	}
	.shop_setumei1 span, .shop_setumei2 span, .shop_setumei3 span, .shop_setumei4 span, .shop_setumei5 span {
		margin: 0 auto;
	}

	.shop1, .shop2, .shop3, .shop4, .shop5 {
		text-align: center;
	}

	.copy {
		margin-top: 0;
		padding: 2rem;
	}

	br {
		display: none;
	}




}
