
body{
	margin:0;
	background:url(../img/backgrond_image.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
}

/*ファーストビュー*/
.firstview{
 text-align: center;
 margin-top:-10px;
}

/*-------------------------------------------------------
フォント
--------------------------------------------------------*/

@font-face{
 font-family:pigmo-00;
 src: url('pigmo-00.otf')format("opentype");
}
@font-face{
 font-family:UtsukushiFONT;
 src: url('UtsukushiFONT.otf')format("opentype");
}
@font-face{
 font-family:AozoraMincho-bold;
 src: url('AozoraMincho-bold.ttf')format("truetype");
}


/*--------------------------------------------------------
ページトップ
--------------------------------------------------------*/

.page-top{
	position: fixed;
	right: 0;
	bottom: 20px;
	z-index: 99;
	width: 182px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
}

* html .page-top{ display: none; }

.page-top a{
	display: block;
	padding: 10px;
	padding-left: 42px;
	border: 1px solid #fff;
	border-right: 0;
	text-decoration: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
}

.page-top a:link,
.page-top a:visited{
	background: url(../images/common/bg-pagetop.gif) 14px center no-repeat #DBCC8F;
	color: #fff;
}

.page-top a:hover,
.page-top a:active{
	background: url(../images/common/bg-pagetop.gif) 14px center no-repeat #ED1C24;
	color: #fff;
}



/*body*/

#container{
	width:950px;
	margin:0 auto;
	overflow:hidden;
	background:#FFF;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-o-box-shadow: 0 0 5px #555;
	-ms-box-shadow: 0 0 5px #555;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
}

#main-contents{
	width:950px;
	margin:0 auto;
}

#main-contents h3{
	margin-left:2%;
	font-size:25px;
}

#main-contents h2{
	font-size:45px;
	margin-left:2%;
	background:url(../img/donburi.png) left 0 no-repeat;
	line-height:1.3;
	padding-left:90px;
}

#main-contents h1{
	font-size:30px;
	color:#FFF;
	background:#f25545;
	padding:8px 0 8px 20px;
	margin-top:0px;
}

#main-contents p{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/*--------------------------------------------------------
ボタン
--------------------------------------------------------*/

.Radius5 { 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.Button {
    overflow: hidden;
	width: 160px;
	margin: 0 0 0 -5px;
    padding: 0;
	box-shadow: 0px 1px 3px #999;
}
.Button a {
    display: block;
    position: relative;
    z-index: 100;
    text-align:center;
    background: #14ae67;
    color: #fff;
    line-height: 40px;
    text-decoration:none;
}

#IconList2 a:before,
#IconList3 a:before,
#IconList4 a:before,
#IconList5 a:before,
#IconList6 a:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    width: 0;
    height: 0;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left:9px solid #fff;
}
.hariken a{
	text-align:right;
	padding-right: 10px;
}


	


/*--------------------------------------------------------
j query文字を流す
--------------------------------------------------------*/

.moji{
	border:1px solid #A23024;
	border-radius:5px;
	padding:5px;
	width:90%;
	margin:0 auto;
}

/*--------------------------------------------------------
jquery スライド
--------------------------------------------------------*/
#banner {
    overflow: hidden;
    width:468px;
	padding: 0;
	margin: 0 auto;
}
#banner ul {
    list-style: none;
    width: 1872px;
	margin-left: 0;
}
#banner ul li {
    float: left;
    width: 468px;
}
#banner ul li:first-child {
	margin-left: -40px;
}
#banner ul li img {
    vertical-align: bottom;
}



/*--------------------------------------------------------
お店説明
--------------------------------------------------------*/

#kadohuji{
	display:block;
	width:100%;
	margin:100px auto 150px;
}

.kadohuji_contents{
width:90%;
padding-top:10px;
font-size:18px;
display:table;
margin:0 auto;
}

.kadohuji_l{
width:60%;
display:table-cell;
vertical-align:middle;
}

.kadohuji_r{
width:40%;
display:table-cell;	
vertical-align:middle;
margin:0 auto;
text-align:center;
}

#sansui{
	display:block;
	width:100%;
	margin:150px auto;
}

.sansui_contents{
width:90%;
padding-top:10px;
font-size:18px;
display:table;
margin:0 auto;
}

.sansui_l{
width:60%;
display:table-cell;
vertical-align:middle;
}

.sansui_r{
width:40%;
display:table-cell;	
vertical-align:middle;
margin:0 auto;
text-align:center;
}

#kigenmon{
	display:block;
	width:100%;
	margin:150px auto;
}

.kigenmon_contents{
width:90%;
padding-top:10px;
font-size:18px;
display:table;
margin:0 auto;
}

.kigenmon_l{
width:60%;
display:table-cell;
vertical-align:middle;
}

.kigenmon_r{
width:40%;
display:table-cell;	
vertical-align:middle;
margin:0 auto;
text-align:center;
}

#hamaya{
	display:block;
	width:100%;
	margin:150px auto;
}

.hamaya_contents{
width:90%;
padding-top:10px;
font-size:18px;
display:table;
margin:0 auto;
}

.hamaya_l{
width:60%;
display:table-cell;
vertical-align:middle;
}

.hamaya_r{
width:40%;
display:table-cell;	
vertical-align:middle;
margin:0 auto;
text-align:center;
}

#hariken{
	display:block;
	width:100%;
	margin:150px auto;
}

.hariken_contents{
width:90%;
padding-top:10px;
font-size:18px;
display:table;
margin:0 auto;
}

.hariken_l{
width:60%;
display:table-cell;
vertical-align:middle;
}

.hariken_r{
width:40%;
display:table-cell;	
vertical-align:middle;
margin:0 auto;
text-align:center;
}

.ramen1{
text-align:right;
margin-right:240px;
margin-top:-205px;
}

.ramen2{
text-align:right;
margin-right:240px;
margin-top:-205px;
}

.ramen3{
text-align:right;
margin-right:240px;
margin-top:-205px;
}

.ramen4{
text-align:right;
margin-right:240px;
margin-top:-205px;
}

.ramen5{
text-align:right;
margin-right:240px;
margin-top:-205px;
}

/*--------------------------------------------------------
お店情報
--------------------------------------------------------*/
.shop_setumei1,
.shop_setumei2,
.shop_setumei3,
.shop_setumei4,
.shop_setumei5{
font-size:17px;
padding:30px 0 30px 30px;
margin-top:20px;
height:auto;
width:100%;
background:url(../img/dark_paper.jpg) no-repeat;
color:#ffffff;
display:table;
}

.shop_setumei1 span,
.shop_setumei2 span,
.shop_setumei3 span,
.shop_setumei4 span,
.shop_setumei5 span{
	background:#FFFFFF;
	color:#605A41;
	border-radius:10px;
	padding:5px 20px;
	font-weight:bold;
}

.setumei1_l{
display:table-cell;
*display:inline;
*zoom:1;
vertical-align:middle;
}

.shop1{
display:table-cell;
*display:inline;
*zoom:1;
vertical-align:middle;
}

.shop2{
display:table-cell;
*display:inline;
*zoom:1;
vertical-align:middle;
}

.shop3{
display:table-cell;
*display:inline;
*zoom:1;
vertical-align:middle;
}

.shop4{
display:table-cell;
*display:inline;
*zoom:1;
vertical-align:middle;
}

.shop5{
display:table-cell;
*display:inline;
*zoom:1;
vertical-align:middle;
}

/*--------------------------------------------------------
ジャンプボタン
--------------------------------------------------------*/

ul.nvi{
 display:table;
 width:95%;
 table-layout:fixed;
list-style:none;
}
.nvi li{
	display:table-cell;
	*display:inline;
	*zoom:1;
}
/*--------------------------------------------------------
コピーライト
--------------------------------------------------------*/

.copy{
color:#FFF;
background:#9A9A9A;
text-align:center;
margin-top:100px;
padding:50px 0 50px;
}









